/*import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;600;700;800&family=Lora:wght@400;500&display=swap');

/*remove defult border style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Lora', sans-serif;
}

/*header*/
header {
    background-color: antiquewhite;

}

h1 {
    font-family: 'Heebo', sans-serif;
}

/*main*/
main {
    background-color: bisque;
    /*make main to take up most of the page and push footer to bottom*/
    flex: 1 0 auto;

}

/*footer*/
footer {
    background-color: aqua;

}