/*import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;600;700;800&family=Lora:wght@400;500&family=Bebas+Neue&display=swap');

/*remove defult border style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Setting defult styling to the full body*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Lora', sans-serif;
}

/*header*/

/*format and style the header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px grey;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

/*style the header title*/
header a {
    text-decoration: none;
    color: inherit;
}

/*set default h1 style*/
h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkslateblue;
}

/*set default h2 style*/
h2 {
    text-transform: uppercase;
}

/*set default h3 style*/
h3 {
    text-transform: uppercase;
}

/*set up style for the navigation bar*/
#nav_bar {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

/*style the lists in the nav bar*/
#nav_bar>li {
    border: 2px solid black;
    border-radius: 50%;
    width: 10rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: 'Lora', sans-serif;

}

/*set up stlye for the navigation area*/
nav {
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px grey;
    display: none;
    /*hide nav area*/
    top: 100%;

}

/*unhide the nav when button is checked */
#nav_toggle:checked~nav {
    display: block;
}

/*hide the nav when button is unchecked*/
#nav_toggle {
    display: none;
}

/*set size of the nav icon*/
#nav_toggle_name {
    font-size: 100px;
}

/*main*/

/*defult format and style main*/
main {
    background-color: lightgrey;
    flex: 1 0 auto;
    /*make main to take up most of the page and push footer to bottom*/
    margin-top: 47px;

}

/*position and size the home section area*/
#home {
    position: relative;
    width: 100%;
    height: 350px;
}

/*postition and size the workout section area*/
#workout {
    position: relative;
    width: 100%;
}

/*postition and size the signup area*/
#signup {
    position: relative;
    width: 100%;
}

/*set a background image to the home section*/
#hero_container {
    height: 350px;
    width: 100%;
    background-image: url(../images/Gym2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*position the slogan element on top of the hero image*/
#slogan {
    background-color: rgb(0 0 0 / 69%);
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -0%);
    border-radius: 20px;
    padding: 20px;
}

/*set style of the h1 inside the slogan element*/
#slogan ul {
    font-family: 'Bebas+Neue', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-shadow: 3px 3px 0 grey;

}

/*set style of the lists inside the h1 of the slogan element*/
#slogan ul li {
    list-style-type: none;
}

/*set the style of the titles_container*/
.title_container {
    background-color: white;

}

/*set the styles of h2's inside the titles*/
.title_container h2 {
    border: 2px solid black;
    background-color: darkslateblue;
    color: white;
    border-radius: 50%;
    width: 99%;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 5px;
    font-family: 'heebo', sans-serif;
    font-weight: 400;
}

/*set curser over labels*/
label {
    cursor: default;
}

/*set the form to be set in a block*/
form {
    display: block;
}

/*set a background image for the form area*/
#form_container {
    background-image: url(../images/gym5.jpg);
    width: 100%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*set the transparent shaded are behind the form*/
form#signup_form {
    background-color: rgb(0 0 0 / 85%);
    text-align: left;
    position: absolute;
    top: 2%;
    right: 5%;
    left: 5%;
    bottom: 2%;
    display: inline-grid;
    transform: translate(-0%, -0%);
    border-radius: 20px;
    padding: 20px;
    color: white;
    font-size: 0.75rem;
    margin-top: 60px;
}

/*set the radio buttons in form to spread vert and space evenly*/
.radio_buttons {
    display: flex;
    font-size: medium;
    justify-content: space-evenly;
}

/*style the radio button area by giving each button a border*/
.radio_buttons>div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px
}

/*enlarge the text fields of the form*/
input[type="text"] {
    font-size: larger;
}

/*enlarge the email fields of the form*/
input[type="email"] {
    font-size: larger;
}

/*style the submit button*/
#submit {
    background-color: #449e47;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Add pointer cursor on hover */
    font-size: 16px;

}

/* Style the submit button on hover */
#submit:hover {
    background-color: #5ace60;
    /* Lighter green color on hover */
}

/*background color and style on radio button area when hover over*/
.check:hover {
    background-color: rgba(255, 0, 0, 0.034);
    border-radius: 5px;
}

/**/
input[type="radio"] {
    font-weight: bold;
}

/*Workout section*/

/*default style of the workout section*/
#workout {
    font-family: 'Bebas+Neue', sans-serif;

}

/*style all h3 tags of the section*/
#workout h3 {
    color: darkslateblue;
    background-color: black;
    border: 1px solid black;
    border-color: black;
    padding: 4%;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

/* Lean workout plan section */
/*defult style lean section*/
.lean_plan {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 0;
    border-radius: 8px;

}

/*style all h4 tags in lean plan section*/
.lean_plan h4 {
    color: black;
}

/*style all p tags in lean plan section*/
.lean_plan p {
    color: rgb(40, 40, 40);
}

/*style all unorder list tags in lean plan section*/
.lean_plan ul {
    list-style-type: none;
    padding: 0;
    color: rgb(50, 50, 50);
}

/*add a small margin at the bottom of each list*/
.lean_plan ul li {
    margin-bottom: 10px;
}

/*style the days section in the lean section*/
.days {
    display: none;
    /*set to hide*/
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#days_toggle:checked~.days {
    display: block;
}

#days_toggle {
    display: none;
}

#days_toggle_name {
    font-size: 100px;
}

.bulk_plan {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 0;
    border-radius: 8px;

}

.bulk_plan h4 {
    color: black;
}

.bulk_plan p {
    color: rgb(40, 40, 40);
}

.bulk_plan ul {
    list-style-type: none;
    padding: 0;
    color: rgb(50, 50, 50);
}

.bulk_plan ul li {
    margin-bottom: 10px;
}

.days2 {
    display: none;
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#days2_toggle:checked~.days2 {
    display: block;
}

#days2_toggle {
    display: none;
}

#days2_toggle_name {
    font-size: 100px;
}

.loss_plan {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 0;
    border-radius: 8px;

}

.loss_plan h4 {
    color: black;
}

.loss_plan p {
    color: rgb(40, 40, 40);
}

.loss_plan ul {
    list-style-type: none;
    padding: 0;
    color: rgb(50, 50, 50);
}

.loss_plan ul li {
    margin-bottom: 10px;
}

.days3 {
    display: none;
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#days3_toggle:checked~.days3 {
    display: block;
}

#days3_toggle {
    display: none;
}

#days3_toggle_name {
    font-size: 100px;
}

/*footer*/
#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

i {
    font-size: 40px;
    padding: 5%;
    color: darkgrey;
}

#socials i:hover {
    color: grey;
}



@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #nav_bar {
        display: flex;
    }

    #nav_bar>li {
        padding-left: 1rem;

    }

    .nav_toggle_name {
        display: none;
    }

    #logo {
        font-size: 200%;

    }

    main {
        margin-top: 62px;
    }

    #workout {
        margin-top: 150px;
    }

    #hero_container {
        height: 500px;
    }

    #form_container {
        height: 775px;
    }

    #slogan ul {
        font-size: 3rem;
    }

    form#signup_form {
        font-size: 1.5rem;
        right: 20%;
        left: 20%;
    }

    .radio_buttons {
        font-size: larger;

    }
}

@media screen and (min-width: 992px) {
    #nav_bar a:hover {
        border-bottom: 1px solid black;
    }

    #hero_container {
        height: 750px;
    }

    #form_container {
        height: 790px;
    }

    #slogan ul {
        font-size: 5rem;
    }

    #workout {
        margin-top: 400px;
    }

    form#signup_form {
        font-size: 1.5rem;
        right: 20%;
        left: 20%;
    }

    #submit {
        position: absolute;
        left: 20%;
        right: 20%;
        bottom: 1%;
    }
}


@media screen and (max-width: 280px) {
    #slogan ul {
        font-size: 1rem;
    }
}