/*import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;600;700;800&family=Lora:wght@400;500&display=swap');

/*remove defult border style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Lora', sans-serif;
}

/*header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px grey;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkslateblue;
}

#nav_bar {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

#nav_bar>li {
    border: 2px solid black;
    border-radius: 50%;
    width: 10rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: 'Lora', sans-serif;

}


#nav_bar>li#active {
    background-color: grey;
}

nav {
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px grey;
    display: none;
    top: 100%;

}

#nav_toggle:checked~nav {
    display: block;
}

#nav_toggle {
    display: none;
}

#nav_toggle_name {
    font-size: 50rem;
    font-family: 'Heebo', sans-serif;
}

/*main*/
main {
    background-color: bisque;
    /*make main to take up most of the page and push footer to bottom*/
    flex: 1 0 auto;
    margin-top: 47px;

}

/*footer*/
footer {
    background-color: aqua;

}

@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #nav_bar {
        display: flex;
    }

    #nav_bar>li {
        padding-left: 1rem;

    }

    .nav_toggle_name {
        display: none;
    }

    #logo {
        font-size: 200%;

    }

    main {
        margin-top: 62px;
    }
}

@media screen and (min-width: 992px) {
    #nav_bar a:hover {
        border-bottom: 1px solid black;
    }
}